.book {

  position: relative;

  &__image {
    width: 350px;
    height: 450px;
    border-radius: 3px;
  }

  &__info {
    margin-left: 5px;
  }

  &_shadowed {
    opacity: .9;
    background-color: #333;
  }

  &__progress {
    position: absolute;
    top: 0;
    right: 32.5px;
    height: 450px;
    filter: blur(.3px);
  }

  &__status {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 450px;
  }
}
